<mat-card>
  <div class="titlecontainer">
    <div class="righTitle" >
      <div>
        <h1>To Do's</h1>
      </div>
      <div
        matBadge="{{ this._todoService.getCount() }}"
        matBadgeSize="small"
        matBadgeOverlap="false"
        class="badgecontainer"
      ></div>
    </div>
    <div class="tabContainer">
      <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle >All</mat-button-toggle>
        <mat-button-toggle >Active</mat-button-toggle>
        <mat-button-toggle >Done</mat-button-toggle>

      </mat-button-toggle-group>
    </div>

  </div>
  

  <app-item-list
    [type]="'TODO'"
    [initialData$]="todoList$"
    [onAddItem]="addAddTodo.bind(this)"
  ></app-item-list>
</mat-card>
