<mat-card>
  <div class="titlecontainer">
    <div class="righTitle" >
      <div>
        <h1>To Do's</h1>
      </div>
      <div
        matBadge="{{ this._todoService.getCount() }}"
        matBadgeSize="small"
        matBadgeOverlap="false"
        class="badgecontainer"
      ></div>
    </div>
    <div class="tabContainer">
      <mat-button-toggle-group
      [formControl]="todotypeControl"
      appearance="legacy"
      name="fontStyle"
      value="ALL"
      aria-label="Font Style"
    >
      <mat-button-toggle value="ALL">All</mat-button-toggle>
      <mat-button-toggle value="DUE">Due</mat-button-toggle>
      <mat-button-toggle value="NOT_DUE">Not Due</mat-button-toggle>
    </mat-button-toggle-group>
    </div>

  </div>
  

  <app-item-list
    [type]="'TODO'"
    [initialData$]="todoList$"
    [onAddItem]="addAddTodo.bind(this)"
  ></app-item-list>
</mat-card>
