<mat-card>
  <div class="titlecontainer">
    <div class="righTitle" >
      <div>
        <h1>To Do's</h1>
      </div>
      <div
        matBadge="{{ countdata }}"
        matBadgeSize="small"
        matBadgeOverlap="false"
        class="badgecontainer"
      ></div>
    </div>
    <div class="tabContainer">
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="All">  </mat-tab>
        <mat-tab label="Active">  </mat-tab>
        <mat-tab label="Done">  </mat-tab>
      </mat-tab-group>
    </div>

  </div>
  

  <app-item-list
    (countUpdateMinus)="onDecrementCounter($event)"
    (countUpdatePlus)="onUpdatedCounter($event)"
    [count]="countdata"
    [type]="'TODO'"
    [initialData$]="todoList$"
    [onAddItem]="addTodo.bind(this)"
  ></app-item-list>
</mat-card>
