<mat-card>
    <div>
      <form [formGroup]="newTodoForm" class="flex mt-4">
        <mat-form-field appearance="fill"
          ><input
            matInput
            placeholder="Add task"
            formControlName="todoItem"
            (keyup.enter)="addTask()"
            autocomplete="off"
        /></mat-form-field>
      </form>
    </div>
    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
  
      <div class="listContainer" *ngFor="let value of taskList; index as i" cdkDrag>
        
        <mat-checkbox (change)="OnChange($event)" [checked]="IsChecked"></mat-checkbox>
  
  
        <div class="displayvalue" [ngClass]="{ 'line-through': value.completed }">
          {{ value.name }}
        </div>
  
        <div>
          <div>
            <Matbutton mat-icon-button [matMenuTriggerFor]="menu" >
              <mat-icon>more_vert</mat-icon>
            </Matbutton>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="removeTask(i)">
                <mat-icon class="deleteitem" >delete</mat-icon>
                <span>remove</span>
              </button>
             
             
            </mat-menu>
          </div>
        </div>
      </div>
      <div></div></div
  ></mat-card>
  