<mat-card>
  <div class="titlecontainer">
    <div class="righTitle">
      <div>
        <h1>Daily</h1>
      </div>
      <div
        matBadge="{{ this._dailyService.getCount()}}"
        matBadgeSize="small"
        matBadgeOverlap="false"
        class="badgecontainer"
      ></div>
    </div>
    <div class="tabContainer">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <mat-button-toggle value="bold">All</mat-button-toggle>
        <mat-button-toggle value="italic">Due</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <app-item-list
     [type]="'DAILY'"
    [initialData$]="dailyList$"
    [onAddItem]="onAddDaily.bind(this)"
  ></app-item-list>
</mat-card>
