.mat-card {
  border-radius: 10px;
  background-color: #edecee;
  color: black;
}

mat-form-field {
  width: 100%;
}
.displayvalue {
  justify-content: left;
  font-size: 15px;
}

.addDone:hover {
  background-color: green;
  color: white;
}

.removeDone:hover {
  background-color: orange;
  color: white;
}


.titlecontainer {
  display: flex;
  align-items: center;
}

.badgecontainer{
  width: 5px;
  height: 15px;
}

