<div mat-dialog-title class="dailogHeader">
    <h1 >Create New Habit</h1>
    <div class="buttonContainer">
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-raised-button (click)="addHabitDailogTask()" color="primary">Create</button>
    </div>

</div>

<div mat-dialog-content>
    <div class="dialogContent">
        <p>Task</p>
        <mat-form-field appearance="outline"
          ><input
            matInput
            placeholder="Add a Task"
            autocomplete="off"
            (keyup.enter)="addHabitDailogTask()"
            [formControl]="nameControl"

        /></mat-form-field>

        <p>Description</p>
        <mat-form-field appearance="outline"
          ><input
            matInput
            placeholder="Add a Description"
            autocomplete="off"
            (keyup.enter)="addHabitDailogTask()"
            [formControl]="nameControl"

        /></mat-form-field>
      </div>
</div>

<div mat-dialog-actions class="dailogAction">
    <button mat-raised-button color="primary" (click)="addHabitDailogTask()">Create</button>

</div>

