.mat-card {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: lightgrey;
}

mat-form-field {
  width: 100%;
}

.displayTask {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  height: 70px;
}

.example-list {
  width: 100%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: lightgrey;
  border-radius: 4px;
  overflow: hidden;
}

.listContainer {
  margin: 10px;
  height: 70px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: grab;
  background: white;
  font-size: 14px;
}

.checkContainer {
  background-color: #ff6165;
  width:50px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.menuDrop {
  display: flex;
  cursor:pointer;
  width:30px ;
  height: 70px;
  justify-content: flex-end;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.deleteitem {
  color: red;
}

.titleBadge {
  display: flex;
}

.badgecontainer {
  width: 10px;
  height: 10px;
  margin: 15px;
}

.number-display {
  font-size: 1em;
}

.mat-checkbox {
  transform: scale(1.7);
}

.mat-checkbox:hover {
  cursor: pointer;
  transform: scale(2);
}

::ng-deep .mat-ripple-element {
  display: none !important;
}

