<div class="listContainer">
  <div class="checkcontainer">
    <mat-checkbox
      [checked]="IsChecked"
    ></mat-checkbox>
  </div>

  <div class="displayvalue" [ngClass]="{ 'line-through': value.task }">
    {{ value.task | uppercase }}
  </div>

  <div>
    <Matbutton mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </Matbutton>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon class="deleteitem"
          >delete</mat-icon
        >
        <span>remove</span>
      </button>
    </mat-menu>
  </div>
</div>
