<mat-toolbar>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
      <a class="navbar-brand" routerLink="/home">Habitica</a>
      <a class="nav-link" routerLink="/">Tasks</a>
      <a class="nav-link" routerLink="/dailytask">Dailies</a>
      <a class="nav-link" routerLink="todo">To Do's</a>
    </div>
  </nav>

  <router-outlet></router-outlet>
</mat-toolbar>

<mat-card class="profileSet">
  <div>
    <img mat-card-avatar src="assets/images/profile.jpg" />
  </div>
  <div class="profileName">
    <b> <p>Vignesh Uthrapathy</p></b>
    <p>@im_uviii - level 5 Newbie</p>
  </div>
</mat-card>
