<mat-toolbar>
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container">
      <img src="assets/images/habitica-logo.png" />
      <a class="navbar-brand" routerLink=""> habitica</a>
      <a class="nav-link" routerLink="/home">Tasks</a>
      <a class="nav-link" routerLink="/">Inventory</a>
      <a class="nav-link" routerLink="todo">Shop</a>
    </div>
    <div class="coinContainer" >
      <img class="coinCount" src="assets/images/coin.png" width="10px" height="10px"> {{coinservice.coin}}
    </div>
   
  </nav>

  <router-outlet></router-outlet>
</mat-toolbar>

<mat-card class="profileSet">
  <div>
    <img mat-card-avatar src="assets/images/profile.jpg" />
  </div>
  <div class="profileName">
    <b> <p>Vignesh Uthrapathy</p></b>
    <p>@im_uviii - level 5 Newbie</p>
  </div>
</mat-card>
