<div>
    <mat-form-field appearance="fill"
      ><input
        matInput
        placeholder="Add daily"
        (keyup.enter)="addTask()"
        autocomplete="off"
        [formControl]="nameControl"
    /></mat-form-field>
</div>

<ng-container *ngIf="(filteredData$ | async) as data">
  <div
    cdkDropList
    class="example-list"
    (cdkDropListDropped)="drop($event, data)"
  >
    <app-item
      [value]="value"
      *ngFor="let value of data; index as index"
      cdkDrag
      (inputDataChange)="removeTask(index)"
    >
    </app-item>
  </div>
</ng-container>
