<mat-card>
  <div class="titlecontainer">
    <div class="righTitle">
      <div>
        <h1>Habits</h1>
      </div>
      <div
        matBadge="{{ this._habitService.getCount() }}"
        matBadgeSize="small"
        matBadgeOverlap="false"
        class="badgecontainer"
      ></div>
    </div>
    <div class="tabContainer">
      <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style">
        <mat-button-toggle >All</mat-button-toggle>
        <mat-button-toggle >Strong</mat-button-toggle>
        <mat-button-toggle >Weak</mat-button-toggle>

      </mat-button-toggle-group>
    </div>
  </div>

  <app-item-list
    [type]="'HABIT'"
    [initialData$]="habitList$"
    [onAddItem]="onAddHabit.bind(this)"
  ></app-item-list>
</mat-card>
